@model WebShop.Models.Entities.Product

@{
    ViewBag.Title = "Create";
}
@section styles {
    <link href="~/Content/cropper/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/cropper/main.css" rel="stylesheet" />
    <style>
        .plusupload {
            cursor: pointer;
        }
    </style>

    <link href="~/Scripts/froala-editor/css/plugins/char_counter.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/code_view.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/colors.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/draggable.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/emoticons.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/image.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/image_manager.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/line_breaker.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/quick_insert.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/table.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/plugins/video.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/editor_custom.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/froala_editor.css" rel="stylesheet" />
    <link href="~/Scripts/froala-editor/css/froala_style.css" rel="stylesheet" />

}

@Styles.Render("~/Content/Accordeon")


<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> What is HTML?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_Create", Model)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span> What is Bootstrap?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_AddImages")
                </div>
            </div>
        </div>
        @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span> What is CSS?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                    </div>
                </div>
            </div>*@
    </div>
    <p><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
</div>
<div id="froala-editor">
    <p>Click on the image below to see the custom image button.</p>

</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script src="~/Scripts/froala-editor/js/ua.js"></script>
    <script src="~/Scripts/froala-editor/js/froala_editor.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/align.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/char_counter.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_view.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/colors.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/draggable.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/emoticons.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/entities.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_family.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_size.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/forms.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image_manager.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/line_breaker.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/link.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/lists.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/quick_insert.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/quote.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/save.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/table.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/url.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/video.min.js"></script>

    <script>
        $(function () {
            $(".html-editor-autoinit").froalaEditor({
                toolbarButtons: ['bold', 'italic', 'underline', 'paragraphFormat', '|',
                    'color', 'emoticons', 'formatUL', 'formatOL', 'align', 'outdent', 'indent', '|',
                    'quote', 'insertHR', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', 'undo', 'redo', 'clearFormatting', 'html'],
                imageUploadURL: '/Products/UploadImageDecription',
                imageMaxSize: 2 * 1024 * 1024,
                paragraphFormat: {
                    N: 'Звичайний',
                    H2: 'H2',
                    H3: 'H3',
                    H4: 'H4',
                    H5: 'H5',
                    H6: 'H6'
                },
                language: 'ua'
            }).on('froalaEditor.image.error', function (e, ditor, error, response) {
                if (error.code == 5) {
                    alert("Розмір файлу не повинен бути більше 2 мб.");
                }
                return false;
            });
            $("#form").on("click", "#btn_product_add", function () {
                var textHtml = $("#textEdit").froalaEditor("html.get");
                $("#Description").val(textHtml);
                return false;
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            // Add minus icon for collapse element which is open by default
            $(".collapse.in").each(function () {
                $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
            });

            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });
        });
    </script>
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/cropper/cropper.min.js"></script>
    <script src="~/Scripts/product/cropper/work-cropper.js"></script>
}






