body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body:after {
    opacity: 0;
    content: "";
}

body.open:after {
    content: "";
    background-color: #000000;
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    transition: all 0.3s 0.3s;
}

.containerCrop {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transform: translateX(-50%);
}

.bootstrap-filestyle input {
    width: 100%;
    max-width: 100%;
}

.hideElement {
    display:none;
}


