<div class="containerCrop">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-7">
                <div>
                    <canvas id="canvas">
                        Your browser does not support HTML5 Canvas
                    </canvas>
                </div>
            </div>
            <div class="col-md-4  col-sm-4 col-xs-5">
                <div class="docs-preview clearfix">
                    <div class="img-preview" style="width: 100%; height: 350px;">
                        <!--<img src="https://fengyuanchen.github.io/cropperjs/images/picture.jpg" style="display: block; width: 531.321px; height: 298.868px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; transform: translateX(-188.377px) translateY(-22.6415px);">-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="btn-group">
                    <button class="btn btn-info" id="dragModeMove"><i class="fa fa-arrows" aria-hidden="true"></i></button>
                    <button class="btn btn-info" id="dragModeCrop"><i class="fa fa-crop" aria-hidden="true"></i></button>

                </div>

                <div class="btn-group">
                    <button class="btn btn-info" id="scaleX"><i class="fa fa-arrows-h"></i></button>
                    <button class="btn btn-info" id="scaleY"><i class="fa fa-arrows-v"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info" id="rotateLeft"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                    <button class="btn btn-info" id="rotateRight"><i class="fa fa-undo" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info" id="moveLeft"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button class="btn btn-info" id="moveRight"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info" id="moveUp"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                    <button class="btn btn-info" id="moveDown"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info" id="zoomPlus"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                    <button class="btn btn-info" id="zoomMinus"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-4">
                <button id="crop" class="btn btn-success" style="min-width:150px;">Обрізати</button>
                <button id="cropperClose" class="btn btn-danger" style="min-width:100px;">Закрити</button>
            </div>
        </div>

    </div>

</div>