.autoCompleteData {
    position: relative;
}

    .autoCompleteData a {
        color: red;
    }

    .autoCompleteData ul {
        position: absolute;
        overflow: auto;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
        padding-left: 12px;
        z-index: 10;
        top: 100%;
        right: 15px;
        left: 15px;
        padding: 0;
        width: auto !important;
    }

    .autoCompleteData li {
        list-style-type: none;
        cursor: pointer;
        padding: 7px 15px;
        border: 1px solid #dedede;
        background-color: #f2f4f7;
        border-bottom: none;
    }

        .autoCompleteData li:first-child {
            border-top: none;
        }

        .autoCompleteData li:last-child {
            border-bottom: 1px solid #dedede;
        }

        .autoCompleteData li img {
            width: 25px;
        }

        .autoCompleteData li:hover {
            background-color: #dedede;
        }
